<%= link_to 'Back to test questions', test_path(@question.test) %>
<%= form_with model: [@test, @question], local: true do |form| %>
  <%= render 'shared/errors', model: @question %>
  <p>
    <%= form.label :body %><br>
    <%= form.text_field :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>