<nav class="navbar navbar-light bg-light">
  <%= link_to 'Test-Guru', root_path, class: 'navbar-brand' %>
  <span class="navbar-text">
    <%= t('.welcome') %>, <b><%= "#{current_user.first_name} #{current_user.last_name}" %> <%= t('.guru') %></b> |
    <%= link_to t('admin.tests.edit_tests'), admin_tests_path %> |
    <%= link_to t('common.logout'), destroy_user_session_path, method: :delete %>
  </span>
</nav>
