<h1><%= t('.passage_of_test') %> <%= @test_passage.test.title %></h1>

<p><%= t('.total_questions') %>: <%= @test_passage.test.questions.count %></p>
<p><%= t('.question') %> №<%= @test_passage.current_question.number %></p>
<b>
  <%= @test_passage.current_question.body %>
</b>
<br>

<%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>
    <%= form.collection_radio_buttons :answer_id, @test_passage.current_question.answers, :id, :body,
                                      include_hidden: false do |b| %>
        <p>
          <%= b.radio_button %>
          <%= b.label %>
        </p>
    <% end %>

    <%= form.submit t('.next_question') %>
<% end %>