<div class="row">
  <div class="col mt-3">
    <h1><%= t('.passage_of_test') %> <%= @test_passage.test.title %></h1>

    <h4 class="mt-4"><%= t('.total_questions') %>: <%= @test_passage.test.questions.count %></h4>
    <h5 class="mt-3"><%= t('.question') %> №<%= @test_passage.current_question.number %></h5>
    <div class="timer" id="timer" data-time="<%= @test_passage.time_left %>"></div>
    <div class="progress">
      <%= content_tag :div,
                      '',
                      class: 'progress-bar',
                      data:
                          {
                            current_number: @test_passage.current_question.number,
                            total: @test_passage.test.questions.count
                          } %>
    </div>

    <p>
      <b>
        <%= @test_passage.current_question.body %>
      </b>
    </p>
    <div class="card border-primary mt-3">
      <div class="card-body">
        <%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>
          <div class="form-group">
            <%= form.collection_radio_buttons :answer_id, @test_passage.current_question.answers, :id, :body,
                                              include_hidden: false do |b| %>
                <p>
                  <%= b.radio_button %>
                  <%= b.label %>
                </p>
            <% end %>
            <p>
              <%= link_to t('.gist_question'), gist_test_passage_path(@test_passage), method: :post %>
            </p>
            <%= form.submit t('.next_question'), class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>