<footer>
  <div>
    &copy;<%= current_year %>
    <%= t('.author') %>
  </div>
  <div>
    <p><%= github_url 'trikey', 'test-guru', 'Test Guru' %></p>
    <p><%= t('.for_tests') %></p>
  </div>
  <div>
    <a href="http://thinknetica.com" target="_blank"><%= t('.test_project') %></a>
  </div>
</footer>