<nav class="navbar navbar-light bg-light">
  <%= link_to 'Test-Guru', root_path, class: 'navbar-brand' %>
  <span class="navbar-text">
    <% if user_signed_in? %>
      <%= t('.welcome') %>, <b><%= current_user.first_name %> <%= t('.guru') %></b> |
      <% if current_user.admin? %>
        <%= link_to t('admin.tests.edit_tests'), admin_tests_path %> |
      <% end %>
      <%= link_to t('common.logout'), destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to t('common.login'), new_user_session_path %> |
      <%= link_to t('common.sign_up'), new_user_registration_path %>
    <% end %>
  </span>
</nav>
