<%= link_to t('common.back'), admin_tests_path %>
<%= form_with model: [:admin, @test], local: true do |form| %>
  <%= render 'shared/errors', model: @test %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :level %><br>
    <%= form.number_field :level %>
  </p>
  <p>
    <%= form.label :time %><br>
    <%= form.number_field :time %>
  </p>
  <p>
    <%= form.label :category_id %><br>
    <%= form.collection_select :category_id, Category.all, :id, :title, prompt: true %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>