<%= link_to t('common.back'), admin_tests_path %>
<p><%= @test.title %></p>
<p><%= t('helpers.label.test.category_id') %>: <%= @test.category.title %></p>
<p><%= t('helpers.label.test.level') %>: <%= @test.level %></p>
<p><%= t('helpers.label.test.time') %>: <%= @test.time %></p>
<br/>
<p><%= t('.questions') %></p>
<ul>
  <%= render @test.questions %>
</ul>
<%= link_to t('.new_question'), new_admin_test_question_path(@test) %>
