<%= link_to 'Back to tests', tests_path %>
<%= form_with model: @test, local: true do |form| %>
  <%= render 'shared/errors', model: @test %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :level %><br>
    <%= form.number_field :level %>
  </p>
  <p>
    <%= form.label :category_id %><br>
    <%= form.collection_select :category_id, Category.all, :id, :title %>
  </p>
  <p>
    <%= form.label :author_id %><br>
    <%= form.collection_select :author_id, User.all, :id, :last_name %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>