<%= link_to 'Back to tests', tests_path %>
<p><%= @test.title %></p>
<p>Category: <%= @test.category.title %></p>
<p>Level: <%= @test.level %></p>
<br/>
<p>Questions</p>
<ul>
  <%= render @test.questions %>
</ul>
<%= link_to 'New question', new_test_question_path(@test) %>
